SITE_NAME=AI Platform Fee Audit Copilot
SITE_URL=https://ecommerce-fee-audit.vercel.app
SITE_ENV=development

PUBLIC_API_BASE=http://localhost:3000/api

FEATURE_EXPORT=true
FEATURE_WIDGET=true
FEATURE_ANALYTICS=false

GITHUB_REPOSITORY=JFeimster/ecommerce-fee-audit
GITHUB_OWNER=JFeimster
GITHUB_REPO=ecommerce-fee-audit

VERCEL_DEPLOY_HOOK_URL=https://api.vercel.com/v1/integrations/deploy/prj_VBR1XEfZfDMLG9DgmKn9SdG38NXf/iaV5pGy2mf
GITHUB_WEBHOOK_SECRET=He0Uo/aogA31ACpAe51TPXFVttX6L4mdSSqwd/a23D+0mGZtTwiuYY0qWQ49LTPF

MOONSHINE_API=
MOONSHINE_WEBHOOK=
